#label_tsa {
    /* background-color: purple; */
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

@keyframes blinker {
    50% {
        background-color: transparent;
    }


}

.blink {
    animation: blinker 1s linear infinite;
    background-color: purple;
}

.active {
    background-color: purple;
}

#label_r2d {
    /* background-color: purple; */
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}