@keyframes blinker {
    50% {
        background-color: transparent;
    }
}

.blink-critical{
    animation: blinker 1s linear infinite;
    background-color: red;
    border-radius:  20px;
}

.blink-warning{
    animation: blinker 1s linear infinite;
    background-color: yellow;
    border-radius:  20px;
}

.blink {
    animation: blinker 1s linear infinite;
    background-color: purple;
}

.active {
    background-color: purple;
}

#label_r2d {
    /* background-color: purple; */
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

#label_tsa {
    /* background-color: purple; */
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

#box_error {
    background-color: red;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

#box_info{
    background-color: #2BA3FF;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}